@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

#root {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	font-family: "Nova Flat", "sans-serif";
}

.spicy {
	font-family: "Bungee Spice";
	font-palette: --colorized;
	/* color: #c000e6; */
}

@font-palette-values --colorized {
	font-family: "Bungee Spice";
	base-palette: 1;
	override-colors: 0 #a3b18a, 1 #283618;
}

.pulse {
	animation: pulse 2s ease infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgb(33, 87, 40);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
	}
	100% {
		box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
	}
}
