@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

#root {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	font-family: "Nova Flat", "sans-serif";
}

.spicy {
	font-family: "Bungee Spice";
	font-palette: --colorized;
	/* color: #c000e6; */
}

@font-palette-values --colorized {
	font-family: "Bungee Spice";
	base-palette: 1;
	override-colors: 0 #564c7c, 1 #39385a;
}

.pulse-purple {
	animation: pulse-purple 2s ease infinite;
}

@keyframes pulse-purple {
	0% {
		box-shadow: 0 0 0 0 #39385a;
	}
	70% {
		box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
	}
	100% {
		box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
	}
}

/* Zoom In #1 */
.hover-zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.hover-zoom:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Bounce animation */
@keyframes bounce-arrow {
	0% {
	  transform: translateY(0);
	}
	30% {
	  transform: translateY(4px); /* Move down */
	}
	60% {
	  transform: translateY(-4px); /* Move up past original position */
	}
	100% {
	  transform: translateY(0); /* Return to original position */
	}
  }
  
/* Apply animation when the parent button is hovered */
button:hover img.bounce-arrow {
	animation: bounce-arrow 0.6s ease-in-out;	
  }